<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/estilos/contacto.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./assets/js/contacto.js" defer></script>    
    <title>Document</title>
</head>
<body>
    <div id="app">
        <header>
            <nav class="navbar  color__navegador d-flex flex-wrap">
                <div class="container-fluid">
                <div class="d-md-flex text-center">
                    <a class="nav-link color__botones m-2 p-1" href="./index.html">Inicio</a>
                    <a class="nav-link color__botones m-2 p-1" href="./contacto.html">Contactanos</a>
                    <a class="nav-link color__botones m-2 p-1" href="./farmacia.html">Farmacia de Mascotas</a>
                    <a class="nav-link color__botones m-2 p-1" href="./#">Jugueteria de Mascotas</a>
                </div>
                <button class="navbar-toggler position-sticky" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <img src="./assets/imagenes/carritocompras.png" alt="carrito de compra" width="40" height="40">
                </button>
                <div class="offcanvas offcanvas-end color__carrito" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header ">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Su Carrito de Compras :</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                    <div class="card mb-3" v-if="productos" v-for="producto of productos" style="max-height: 300px;"><!-- elementos en carrito de compras -->
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img :src="producto.image" class="img-fluid rounded-start" :alt="producto.name">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">{{producto.name}}</h5>
                            <p class="card-text">{{producto.price}}</p>
                            <p class="card-text"><small class="text-muted">producto.unidad</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="d-flex mt-3" role="search">
                        <button class="color__boton__compra m-2 p-1" type="submit">Comprar Carrito</button>
                    </div>
                    </div>
                </div>
                </div>
            </nav>
        </header>
        {{reEvaluarInputs}}
        <div    class="d-flex flex-column background__image" 
                style="min-height: 100vh; padding: 20px;">
            
            <div class="d-flex gap-5 justify-content-center">
                <img    src="./assets/imagenes/perrocontacto.png" 
                        alt="perro-con-gabardina" 
                        width="300" 
                        height="550"
                        class="img__contacto">
                <div class="d-flex flex-column justify-content-center">
                    <h1 class="p-0 m-0 mt-2 d-flex align-items-center">
                        <img    src="./assets/imagenes/favico.png"

                        />
                        <span>PATITAS FELICES</span>
                        |CONTACTO</h1>
                    <div  class="contenedor__form bg-white rounded mt-1"
                        >
                        <div  v-if="enviando !== null"
                            class="loader__content">
                            <template v-if="enviando">
                                <div class="lds__roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <p class="fs-5 mt-2">Enviando mensaje</p>
                            </template>
                            <template v-if="enviando === false">
                                <lottie-player src="./assets/icons/checkMark.json"  
                                background="transparent"  
                                speed="1"  
                                style="width: 80px; height: 80px;"   
                                autoplay></lottie-player>
                                <p class="fs-6 mt-2 texto__enviado__contenedor"><strong>{{data.nombre + " " + data.apellido}}</strong> recibimos tu mensaje 
                                    nos pondremos en contacto en breve</p>
                            </template>
                            <button     class="boton__otro__mensaje boton__hover"
                                        @click="enviando = null"
                                        :class="{ invisible: enviando !== false}"
                                        >Enviar otra consulta</button>
                        </div>
                        
                        <form  action="" 
                        class="container m-0 d-flex flex-column gap-1" 
                        @submit.prevent v-if="enviando === null"
                        style="max-width: 800px;">
                            <h3 class="text-center">Envianos tu consulta</h3>
                            <div class="d-flex flex-column p-0">
                                <label for="nombre" class="">Nombre</label>
                                <input type="text" class="input" id="nombre" v-model="data.nombre">
                                <p  :class="{ invisible: !errores.nombre}" class="text-danger m-0">
                                    {{errores.nombre}}
                                </p>
                            </div>
                            <div class="p-0 d-flex flex-column">
                                <label for="apellido" class="m-0">Apellido</label>
                                <input type="text" class="input" id="apellido" v-model="data.apellido"> 
                                <p  :class="{ invisible: !errores.apellido}" class="text-danger m-0">
                                    {{errores.apellido}}
                                </p>
                            </div>
                            <div class="p-0 d-flex flex-column">
                                <label for="telefono" class="m-0">Teléfono</label>
                                <input type="tel" class="input" id="telefono" v-model="data.telefono">
                                <p  :class="{ invisible: !errores.telefono}" class="text-danger m-0">
                                    {{errores.telefono}} 
                                </p>
                            </div>
                            <div class="p-0 d-flex flex-column">
                                <label for="mascota" class="m-0">Mascota</label>
                                <select type="text" class="input" id="mascota" v-model="data.mascota">
                                    <option value="" disabled>Qué mascota tiene...</option>
                                    <option value="perro">Perro</option>
                                    <option value="gato">Gato</option>
                                    <option value="otro">Otro</option>
                                </select>
                                <p  :class="{ invisible: !errores.mascota}"class="text-danger m-0">
                                    {{errores.mascota}}
                                </p>
                            </div>
                            <div class="p-0 d-flex flex-column" v-if='data.mascota === "otro"'>
                                <label for="mascota" class="m-0">Aclaración de mascota</label>
                                <input type="text" class="input" id="mascota" v-model="data.otraMascota" placeholder="ejemplo: conejo">
                                <p  :class="{ invisible: !errores.otraMascota}"class="text-danger m-0">
                                    {{errores.otraMascota}}
                                </p>
                            </div>
                            <div class="p-0 d-flex flex-column">
                                <label for="mensaje" class="m-0">Consulta</label>
                                <textarea class="input textarea__no__resizable" id="mensaje" rows="5" v-model="data.mensaje" placeholder="escriba su consulta..."></textarea>
                                <p  :class="{ invisible: !errores.mensaje}" class="text-danger m-0">
                                    {{errores.mensaje}}
                                </p>
                            </div>
                            <button class="boton__contact mt-1 boton__hover" 
                                    type="submit" 
                                    @click="submit">Enviar</button>
                        </form>
                        <div class="d-flex flex-column p-2 align-items-center">
                            <h3 class="mb-4 text-center">Dónde encontrarnos</h3>
                            <span><strong>Dirección</strong>: Paraguay 2334 5 F</span>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2323906845527!2d-58.402139540300006!3d-34.5982846409572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9158e82c41%3A0xafb5fe117a2c5a52!2sParaguay%202334%2C%20C1121ABL%20CABA!5e0!3m2!1sen!2sar!4v1673797160717!5m2!1sen!2sar" 
                            width="250" 
                            height="250" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
           
                    </div>
                    
                </div>
            </div>
           
            
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Devoluciones</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Envíos</a></li>
                        <li><a href="#">Metodos de Pago</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Tienda Online</h4>
                    <ul>
                        <li><a href="#">Petshop</a></li>
                        <li><a href="#">Farmacia</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Redes</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/patitasfelicess_/?hl=es" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
</body>
</html>