*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html, body, #app {

  width: 100%;
  height: 100%;

}

.backgroundImage{

  background-image: url('../imagenes/fondoinicio.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.img-contacto{

  position: relative;
  top: 100px;

}

.loader-content{

  width: 400px;
  min-height: 605px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contenedor-form{
  max-width: 90vw;
  position: relative;
  background-color: white;
  padding: 20px;
  height: fit-content;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;

}

.contenedor-form > form {

  width: 400px;

}

.input{

  width: 100%;
  max-width: 90vw;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
}

.input:focus{

  outline: solid 2px rgb(255, 163, 58);

}

.boton-otroMensaje{

  width: fit-content;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 5px 10px 5px 10px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
  background-color:  rgb(231, 199, 108);

}

.boton-contact{
  
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
  background-color:  rgb(231, 199, 108);

}

.botonHover:hover{

  background-color: rgb(250, 183, 0);

}

.boton-contact:active{

  transform: scale(.99);

}

.textareaNoResizable{

  resize: none;

}

.sizeMap{

  width: 400px;

}

.invisible {
  visibility: hidden;
}

.lds-roller {
  display: inline-block;
  position: relative; 
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(81, 84, 255);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@media (max-width: 1171px){

  .img-contacto{

    position: absolute;
    z-index: 10;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%)

  }
}

@media (max-width: 750px){

  .contenedor-form{

    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
    padding: 0;

  }

  .contenedor-form > form {

    width: 85vw;

  }

  .sizeMap{

    width: 85vw;

  }

  .img-contacto{

    display: none;

  }

}