*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_inicio{
    background-image: url("../imagenes/fondoinicio.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.main_inicio{
    height: 90vh;
    overflow: hidden;
}

.inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inicio_perro_img{
    height: 45vw;
}

.contenedor_texto_inicio{
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 7px -5px rgba(0,0,0,0.27);
}

.h2_inicio{
    font-size: 5.5vw;
    margin-left: 6rem;
    color: #3e66a2;
}

.h1_inicio{
    font-size: 5.5vw;
    border-bottom: .6rem solid rgb(199, 187, 122);
    color: #e6546b;
}

.p_inicio{
    font-size: 1.7rem;
    text-align: right;
    margin-top: 2rem;
}

footer{
    background-color: #6a9888;
    height: 12vh;
    border-top: 3px solid white;
} 

/* ---- F A R M A C I A ---- */

#app{
    background-image: url("../imagenes/fondofarmacia.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.modal{
    --bs-modal-width: 50vw !important;
}

.info_tarjeta_img{
    width: 40vw;
    height: 40vh;
}

.info_tarjeta_ttl{
    font-size: 1.6rem;
    font-weight: 600;
}

.info_tarjeta_precio{
    font-size: 1.1rem;
    font-weight: 600;
}

.info_tarjeta_contenedor_texto{
    padding: 2rem;
}


@media (max-width: 788px){

    .contenedor_texto_inicio{
        width: 60vw;
    }
    
    .h2_inicio{
        font-size: 6.5vw;
        margin-left: 2rem;
    }

    .h1_inicio{
        font-size: 6.5vw;
        border-bottom: .3rem solid white;
    }

    .p_inicio{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}