*{
    margin: 0;
    padding: 0;
}
.colorNav{
    background-color:rgb(255, 132, 130, .6);
    border: 2px solid #ff8482 ;
}
.colorCarrito{
    background-color: #c9daa4cc;
}
.colorBotones{
    border: 2px solid #ff8482;
    border-radius: 0.5rem;
}
.colorBotones:hover{
    border: 2px solid #ff8482;
    border-radius: 0.5rem;
    background-color: #ff8482;
}
.colorBotonCompra{
    border: 2px solid #91be95;
    border-radius: 0.5rem;
    background-color: #c9daa4cc;
}
.colorBotonCompra:hover{
    border: 2px solid #91be95;
    border-radius: 0.5rem;
    background-color: #91be95;
}


d{color : #ff8482 ;  
color : #ffb294 ; 
color : #f8d8a5 ;
color : #91be95 ;
color : #635a49 ; }

d{color : #da8f72 ; 
color : #ffe792 ; 
color : #c9daa4 ; 
color : #8acbb5 ;}